#page-auth {
    display: flex;
    align-items: stretch;
    height: 100vh;

    aside {
        flex: 7;
        background: #FF93D6;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 120px 80px;
        align-items: center;
    }

    img {
        max-width: 500px;
    }

    strong {
        font: 700 36px 'Poppins', sans-serif;
        line-height: 42px;
        margin-top: 16px;
    }

    p {
        font-size: 24px;
        line-height: 32px;
        margin-top: 16px;
        color: #f8f8f8;
    }

    main {
        flex: 8;
        padding: 0 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .btn-toggle {
        background: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        
        img {
            width: 50px;
        }
    }

    .main-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 320px;
        align-items: stretch;
        text-align: center;


        > img { 
            align-self: center;
            max-width: 250px;
        }

        h2 {
            font-size: 24px;
            margin: 64px 0 24px;
            font-family: 'Poppins', sans-serif;
        }

        form {
            input {
                height: 50px;
                border-radius: 8px;
                padding: 0 16px;
                background-color: #FFF;
                border: 1px solid #a8a8b3
            }

            button {
                margin-top: 16px;
            }

            button, input { 
                width: 100%;
            }
        }

        p {
            font-size: 14px;
            color: #737380;
            margin-top: 16px;

            a {
                color: #BD64D6;
            }
        }
    }

    .create-room {
        margin-top: 64px;
        height: 50px;
        border-radius: 8px;
        font-weight: 500;
        background: #ea4335;
        color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border:0;
        transition: filter 0.5s;
        
        img {
            margin-right: 8px;
        }

        &:hover {
            filter: brightness(0.9);
            transition: filter 0.5s;
        }
    }

    .separator {
        font-size: 14px;
        color: #a8a8b3;
        margin: 32px 0;
        display: flex;
        align-items: center;

        &::before {
            content: '';
            flex: 1;
            height: 1px;
            background: #a8a8b3;
            margin-right: 16px;
        }

        &::after {
            content: '';
            flex: 1;
            height: 1px;
            background: #a8a8b3;
            margin-left: 16px;
        }
    }
}

#page-auth.dark {
    aside {
        strong {
            color: #492a56;
        }
        p{
            color: #492a56;
        }
    }
    main {
        background-color: #492a56;

        form {
            input {
                background-color: #492a56;
                color: #FFF;
                &::placeholder {
                    color: rgba(255, 255, 255, 0.726);
                }
            }

        }
    }

    .main-content {

        h2, p {
            color: #FFF;
        }
    }
}

/*responsivo*/
@media only screen and (max-width: 768px) {
    #page-auth {
        flex-direction: column;

        aside {
            padding: 50px 20px 80px 20px;
        }

        img {
            max-width: 100%;
        }

        strong {
            font-size: 26px;
        }

        p {
            font-size: 18px;
        }

        .main-content {
            padding: 60px 0px;
        }
    }
}