.button {
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #FF93D6;
    color: #FFF;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border:0;
    transition: filter 0.5s;

    &.outlined {
        background: #FFF;
        border: 1px solid #FF93D6;
        color: #FF93D6;
    }

    &:not(disabled):hover {
        filter: brightness(0.9);
        transition: filter 0.5s;
    }

    &:disabled {
        opacity: 0.6;
        cursor:not-allowed;
    }
}
