.room-code {
    height: 40px;
    border-radius: 8px;
    overflow: hidden;

    background: #FFF;
    border: 1px solid #FF93D6;
    cursor: pointer;

    display: flex;
    align-items: stretch;
    
    div {
        background: #FF93D6;
        padding: 0 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span {
        display: block;
        align-self: center;
        flex: 1;
        padding: 0 16px 0 12px;
        width: 230px;
        font-size: 14px;
        font-weight: 500;
    }
}