#page-room {
    min-height: 100vh;
    height: 100%;

    header {
        padding: 24px;
        border-bottom: 1px solid #e2e2e2;

        .content {
            max-width: 1120px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            > img {
                max-height: 45px;
            }

            > div {
                display: flex;
                gap: 16px;
            }

            button {
                height: 40px;
            }

            .btn-toggle {
                background: transparent;
                border: none;
                cursor: pointer;
              
                
                img {
                    width: 30px;
                }
            }
        }
    }

    main {
        max-width: 800px;
        margin: 0 auto;
        padding: 0px 20px;

        .room-title {
            margin: 32px 0 24px;
            display: flex;
            align-items: center;

            h1 {
                font-family: 'Poppins', sans-serif;
                font-size: 24px;
                color: #29292e;
            }

            span {
                margin-left: 16px;
                background-color: #BD64D6;
                border-radius: 100px;
                padding: 8px 16px;
                color: #FFF;
                font-weight: 400;
                font-size: 14px;
            }
        }

        form {
            textarea {
                width: 100%;
                border: 0px;
                padding: 16px;
                border-radius: 8px;
                background-color: #fefefe;
                box-shadow: 0 2px 12px rgba(0,0,0,0.04);
                resize: vertical;
                min-height: 130px;
            }

            .form-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 16px;

                .user-info {
                    display: flex;
                    align-items: center;
                    
                    img {
                        width:32px;
                        height: 32px;
                        border-radius: 50%;
                    }

                    span {
                        margin-left: 8px;
                        color: #29292e;
                        font-weight: 500;
                        font-size: 14px;
                    }
                }

                > span {
                    font-size: 14px;
                    color: #737380;
                    font-weight: 500;

                    button {
                        background: transparent;
                        border: 0;
                        font-size: 14px;
                        color: #FF93D6;
                        text-decoration: underline;
                        font-size: 14px;
                        font-weight: 500;
                        cursor: pointer;
                    }
                }
            }

        }

        .question-list {
            margin-top: 32px;
        }
    }

}

#page-room.dark {
       background-color: #492a56;

       header {
           border-bottom: 1px solid #e1a1c9;
           .content {
               .room-code {
                   background-color: transparent;
                   color: #FFF;
               }
               
           }
        }

        main {

            .room-title {

                 h1{
                     color: #FFF;
                 }
             }

             form {
                 textarea { 
                    background-color: #6d4a7b;
                    &::placeholder {
                        color: rgba(255, 255, 255, 0.767);
                    }
                 }
                 .form-footer {
                     span {
                        color: rgba(255, 255, 255, 0.466);
                     }
                 }
             }
             .question-list {
                .question {
                    background-color: #6d4a7b;
                    color: rgba(255, 255, 255, 0.767);

                    p, span {
                        color: rgba(255, 255, 255, 0.589);
                    }

                    &.highlighted {
                        background-color: rgba(139, 74, 134, 0.733);
                        p, span {
                            color: rgba(255, 255, 255, 0.767);
                        }
                    }

                    &.answered {
                        background-color: #63526b;
                        p, span {
                            color: rgba(255, 255, 255, 0.315);
                        }
                    }
                }
             }
        }
        .button.outlined {
            background-color: transparent;
        }
   }

@media only screen and (max-width: 768px) {
    #page-room {
        header {
            .content {
                flex-direction: column;
                gap: 16px;
                align-items: flex-start;

                > img {
                    max-height: unset;
                    width: 200px;
                }

                > div {
                    justify-content: space-between;
                    width: 100%;
                }

                .btn-toggle {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    
                }
            }
        }

        main {
            max-width: 750px;

            .question-list {
                margin-bottom: 60px;
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    #page-room {
        header {
            .content {
               
                align-items: center;

                > div {
                    flex-direction: column;
                }
            }
        }

     
    }
}